@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
:root {
  --darkColor: rgb(55, 55, 55);

  --lightcolor: rgb(245, 245, 245);
  --midColor: rgb(222, 222, 222);
}
.home {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.chatContainer {
  background-color: var(--midColor);
  display: flex;
  height: 80%;
  width: 60%;
}
.sidebar {
  padding: 1rem 0;
  flex: 0.38;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darkColor);
  color: white;
  transform: translateX(0);
  transition: all 0.2s ease;
}
.chatbox {
  padding: 1rem 2rem;
  flex: 0.68;
}
.userInfo {
  width: 100%;
  display: flex;

  align-items: center;
}
.userTitle {
  display: flex;
  align-items: center;
  flex: 0.9;
  text-align: center;
  margin-left: 1rem;
}
.searchInput {
  padding: 0.6rem 0.85rem;
  border: none;
  font-size: 0.9rem;
  background-color: var(--midColor);
  color: var(--darkColor);
  outline: none;
  border-radius: 20px;
  margin: 1rem 0;
  width: 75%;
}
.logoutButton {
  font-size: 1.1rem;
  padding: 0.4rem 0.5rem;
  /* background-color: var(--midColor); */
  color: var(--lightcolor);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.allChats {
  width: 100%;

  flex-direction: column;
  display: flex;
  overflow: auto;
}
.chatHeader {
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.chatBody {
  height: 78%;
  width: 100%;
  margin: 1.2rem 0 1rem;

  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  overflow: auto;
}
.chatBody::-webkit-scrollbar {
  display: none;
}
.chatFooter {
  max-width: 100%;
  background-color: var(--lightcolor);
  display: flex;
  padding: 0 0.6rem;
  border-radius: 20px;
}
button {
  background: none;
  border: none;
  outline: none;
}
#messageInput {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  font-size: 0.95rem;
  border-radius: 5px;
  padding: 0.8rem 0.5rem;
}
#sendButton {
  margin-left: 0.5rem;
  background: none;
  border: none;
  outline: none;
  font-size: 1.4rem;
  cursor: pointer;
}
.message {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  padding: 0.5rem 0.7rem;
  max-width: 40%;
}
.myMessage {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0rem;
  margin-right: 1rem;
  margin-left: auto;
  color: var(--midColor);
  background-color: var(--darkColor);
}
.othersMessage {
  margin-right: auto;
  background-color: white;
  color: var(--darkColor);
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 0px;
}
.chatButton {
  padding: 0.5rem;
  margin: 0.1rem 0;
  border: none;
  outline: none;
  font-size: 0.9rem;
  background: none;
  color: white;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  padding-left: 1rem;
}
.profilePic {
  background-color: white;
  height: 40px;
  border-radius: 50%;
  width: 40px;
  overflow: hidden;
  border: 2px solid white;
}
.chatContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.8rem;
}
.myUsername {
  margin-left: 0.8rem;
  font-size: 1rem;
}
.username {
  font-size: 1rem;
  margin-bottom: 0.15rem;
}
.chatMessage {
  font-size: 0.8rem;
  color: var(--midColor);
}
.isSearching {
  align-items: center;
}
.chooseConversation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Berkshire Swash", serif;
  text-align: center;
  font-size: 2.4rem;
  color: rgba(0, 0, 0, 0.3);
}
.notFound {
  font-size: 0.8rem;
  color: var(--midColor);
  text-align: center;
}
.startConversation {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
}
.passwordButton {
  font-size: 1.1rem;
  padding: 0.3rem;
  margin-left: 0.25rem;
}
.backbutton {
  display: none;
  font-size: 1.5rem;
}
.insideChatProfilePic {
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
}
.insideChatUsername {
  font-weight: bold;
  font-size: 1rem;

  color: var(--darkColor);
}
#sfilefield {
  display: none;
}
.imagefile {
  height: 100px;
  width: 100px;
  position: relative;
  cursor: pointer;
  /* background-color: red; */
}
.imagefile img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  border: 4px solid var(--midColor);
  border-radius: 50%;
}
.camIcon {
  background-color: var(--darkColor);
  border-radius: 50%;
  padding: 0.4rem;
  position: absolute;
  z-index: 10;
  font-size: 1.4rem;

  right: 0;
  bottom: -8px;
  color: var(--lightcolor);
  /* border: 2px solid var(--darkColor); */
}
.imagefield {
  margin-bottom: 2rem;
}
